In [1]:
import pandas as pd
import sklearn
import numpy as np

In [2]:
df_train = pd.read_csv('train 1.csv')
print (df_train)

                                  Tectonic regime Onshore/Offshore  \
0            STRIKE-SLIP/TRANSPRESSION/BASEMENT-I         OFFSHORE
1                     GRAVITY/EXTENSION/EVAPORITE         OFFSHORE
2                     GRAVITY/EXTENSION/EVAPORITE          ONSHORE
3                                     COMPRESSION          ONSHORE
4                 INVERSION/COMPRESSION/EXTENSION          ONSHORE
..                                            ...              ...
304  GRAVITY/EXTENSION/EVAPORITE/SYNSEDIMENTATION         OFFSHORE
305               INVERSION/COMPRESSION/EXTENSION         OFFSHORE
306                         COMPRESSION/EVAPORITE          ONSHORE
307     INVERSION/COMPRESSION/EXTENSION/EVAPORITE         OFFSHORE
308                                     EXTENSION          ONSHORE

    Hydrocarbon type        Reservoir status             Structural setting  \
0                OIL              DEVELOPING               INVERSION/WRENCH
1                OIL       MATURE PRODUCTION            SALT/PASSIVE MARGIN
2                OIL       MATURE PRODUCTION                 PASSIVE MARGIN
3                OIL    DECLINING PRODUCTION                         THRUST
4                OIL    DECLINING PRODUCTION                 INVERSION/RIFT
..               ...                     ...                            ...
304              OIL    DECLINING PRODUCTION  DELTA/SUB-SALT/PASSIVE MARGIN
305              OIL    DECLINING PRODUCTION            RIFT/PASSIVE MARGIN
306              OIL  CONTINUING DEVELOPMENT                       FORELAND
307   GAS-CONDENSATE      PLATEAU PRODUCTION                      SALT/RIFT
308   GAS-CONDENSATE    DECLINING PRODUCTION                           RIFT

     Depth      Period                  Lithology   Gross  Netpay  Porosity  \
0     3520     NEOGENE                  SANDSTONE  2460.0   220.0      20.0
1     9967  CRETACEOUS                  LIMESTONE   427.0   160.0      19.0
2     8700  CRETACEOUS                  LIMESTONE    95.0    15.0      12.0
3     5084  CRETACEOUS                  SANDSTONE   328.0   300.0      13.0
4     1030  CRETACEOUS                  SANDSTONE   260.0    33.0      24.0
..     ...         ...                        ...     ...     ...       ...
304  13265     NEOGENE  LOW-RESISTIVITY SANDSTONE  1500.0   295.0      29.0
305   1657  CRETACEOUS  LOW-RESISTIVITY SANDSTONE   164.0    98.0      32.0
306  10211  CRETACEOUS           CHALKY LIMESTONE   328.0   213.0      13.0
307  16360    JURASSIC                  SANDSTONE   980.0   490.0      16.0
308  11200  CRETACEOUS                  SANDSTONE  1378.0   446.0      14.0

     Permeability
0            45.0
1           175.0
2            20.0
3           600.0
4           182.0
..            ...
304        1500.0
305        7500.0
306           0.8
307          10.0
308         340.0

[309 rows x 12 columns]

In [3]:
df_test = pd.read_csv('test 1.csv')
print (df_test)

                                      Tectonic regime Hydrocarbon type  \
0                                         COMPRESSION              GAS
1             INVERSION/COMPRESSION/EXTENSION/EROSION              OIL
2           INVERSION/COMPRESSION/EXTENSION/EVAPORITE              GAS
3              COMPRESSION/EVAPORITE/EXTENSION/LINKED              OIL
4                                 COMPRESSION/EROSION   GAS-CONDENSATE
..                                                ...              ...
128                                 EXTENSION/EROSION              OIL
129                               COMPRESSION/EROSION          BITUMEN
130  COMPRESSION/STRIKE-SLIP/TRANSPRESSION/BASEMENT-I              OIL
131                   INVERSION/COMPRESSION/EXTENSION              OIL
132                             COMPRESSION/EVAPORITE              OIL

             Reservoir status Structural setting  Depth             Period  \
0           MATURE PRODUCTION           FORELAND   2275            PERMIAN
1                   ABANDONED           FORELAND    500            PERMIAN
2        DECLINING PRODUCTION     INVERSION/RIFT   5548           JURASSIC
3                  DEVELOPING             THRUST  10100            NEOGENE
4           MATURE PRODUCTION           FORELAND   8750      CARBONIFEROUS
..                        ...                ...    ...                ...
128      DECLINING PRODUCTION               RIFT   5520  TRIASSIC-JURASSIC
129    CONTINUING DEVELOPMENT           FORELAND   1500         CRETACEOUS
130           NEARLY DEPLETED     WRENCH/FOREARC  11100            NEOGENE
131  SECOND PLATEAU PRODUTION     RIFT/INVERSION   3939          PALEOGENE
132           NEARLY DEPLETED           FORELAND   5381      CARBONIFEROUS

                   Lithology   Gross  Netpay  Porosity  Permeability
0                  SANDSTONE   325.0    30.0      13.0          0.04
1                  SANDSTONE    40.0    18.0      28.0        240.00
2                   DOLOMITE   200.0    20.0      13.0          7.30
3                  SANDSTONE  8200.0   260.0      18.0        100.00
4                   DOLOMITE   140.0    70.0      12.0        125.00
..                       ...     ...     ...       ...           ...
128                SANDSTONE   630.0   394.0      26.0       1000.00
129                SANDSTONE   100.0    82.0      28.0        440.00
130  THINLY-BEDDED SANDSTONE   200.0   150.0      20.0         75.00
131                SANDSTONE   410.0    20.0      28.0       1000.00
132                LIMESTONE   330.0    75.0      18.0        195.00

[133 rows x 11 columns]

In [4]:
zeros_array = np.zeros(133)
df_test_inserted = pd.read_csv('test 1.csv')
df_test_inserted.insert(1,'Onshore/Offshore',zeros_array)
df_test_inserted

,Tectonic regime,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability
0,COMPRESSION,0.0,GAS,MATURE PRODUCTION,FORELAND,2275,PERMIAN,SANDSTONE,325.0,30.0,13.0,0.04
1,INVERSION/COMPRESSION/EXTENSION/EROSION,0.0,OIL,ABANDONED,FORELAND,500,PERMIAN,SANDSTONE,40.0,18.0,28.0,240.00
2,INVERSION/COMPRESSION/EXTENSION/EVAPORITE,0.0,GAS,DECLINING PRODUCTION,INVERSION/RIFT,5548,JURASSIC,DOLOMITE,200.0,20.0,13.0,7.30
3,COMPRESSION/EVAPORITE/EXTENSION/LINKED,0.0,OIL,DEVELOPING,THRUST,10100,NEOGENE,SANDSTONE,8200.0,260.0,18.0,100.00
4,COMPRESSION/EROSION,0.0,GAS-CONDENSATE,MATURE PRODUCTION,FORELAND,8750,CARBONIFEROUS,DOLOMITE,140.0,70.0,12.0,125.00
...,...,...,...,...,...,...,...,...,...,...,...,...
128,EXTENSION/EROSION,0.0,OIL,DECLINING PRODUCTION,RIFT,5520,TRIASSIC-JURASSIC,SANDSTONE,630.0,394.0,26.0,1000.00
129,COMPRESSION/EROSION,0.0,BITUMEN,CONTINUING DEVELOPMENT,FORELAND,1500,CRETACEOUS,SANDSTONE,100.0,82.0,28.0,440.00
130,COMPRESSION/STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,0.0,OIL,NEARLY DEPLETED,WRENCH/FOREARC,11100,NEOGENE,THINLY-BEDDED SANDSTONE,200.0,150.0,20.0,75.00
131,INVERSION/COMPRESSION/EXTENSION,0.0,OIL,SECOND PLATEAU PRODUTION,RIFT/INVERSION,3939,PALEOGENE,SANDSTONE,410.0,20.0,28.0,1000.00
132,COMPRESSION/EVAPORITE,0.0,OIL,NEARLY DEPLETED,FORELAND,5381,CARBONIFEROUS,LIMESTONE,330.0,75.0,18.0,195.00

In [5]:
df_concat = df_train.append(df_test_inserted,ignore_index=True)
df_concat

,Tectonic regime,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability
0,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,OFFSHORE,OIL,DEVELOPING,INVERSION/WRENCH,3520,NEOGENE,SANDSTONE,2460.0,220.0,20.0,45.0
1,GRAVITY/EXTENSION/EVAPORITE,OFFSHORE,OIL,MATURE PRODUCTION,SALT/PASSIVE MARGIN,9967,CRETACEOUS,LIMESTONE,427.0,160.0,19.0,175.0
2,GRAVITY/EXTENSION/EVAPORITE,ONSHORE,OIL,MATURE PRODUCTION,PASSIVE MARGIN,8700,CRETACEOUS,LIMESTONE,95.0,15.0,12.0,20.0
3,COMPRESSION,ONSHORE,OIL,DECLINING PRODUCTION,THRUST,5084,CRETACEOUS,SANDSTONE,328.0,300.0,13.0,600.0
4,INVERSION/COMPRESSION/EXTENSION,ONSHORE,OIL,DECLINING PRODUCTION,INVERSION/RIFT,1030,CRETACEOUS,SANDSTONE,260.0,33.0,24.0,182.0
...,...,...,...,...,...,...,...,...,...,...,...,...
437,EXTENSION/EROSION,0,OIL,DECLINING PRODUCTION,RIFT,5520,TRIASSIC-JURASSIC,SANDSTONE,630.0,394.0,26.0,1000.0
438,COMPRESSION/EROSION,0,BITUMEN,CONTINUING DEVELOPMENT,FORELAND,1500,CRETACEOUS,SANDSTONE,100.0,82.0,28.0,440.0
439,COMPRESSION/STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,0,OIL,NEARLY DEPLETED,WRENCH/FOREARC,11100,NEOGENE,THINLY-BEDDED SANDSTONE,200.0,150.0,20.0,75.0
440,INVERSION/COMPRESSION/EXTENSION,0,OIL,SECOND PLATEAU PRODUTION,RIFT/INVERSION,3939,PALEOGENE,SANDSTONE,410.0,20.0,28.0,1000.0
441,COMPRESSION/EVAPORITE,0,OIL,NEARLY DEPLETED,FORELAND,5381,CARBONIFEROUS,LIMESTONE,330.0,75.0,18.0,195.0

In [6]:
inputs = df_concat.drop('Onshore/Offshore',axis='columns')
target = df_train['Onshore/Offshore']
inputs

,Tectonic regime,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability
0,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,OIL,DEVELOPING,INVERSION/WRENCH,3520,NEOGENE,SANDSTONE,2460.0,220.0,20.0,45.0
1,GRAVITY/EXTENSION/EVAPORITE,OIL,MATURE PRODUCTION,SALT/PASSIVE MARGIN,9967,CRETACEOUS,LIMESTONE,427.0,160.0,19.0,175.0
2,GRAVITY/EXTENSION/EVAPORITE,OIL,MATURE PRODUCTION,PASSIVE MARGIN,8700,CRETACEOUS,LIMESTONE,95.0,15.0,12.0,20.0
3,COMPRESSION,OIL,DECLINING PRODUCTION,THRUST,5084,CRETACEOUS,SANDSTONE,328.0,300.0,13.0,600.0
4,INVERSION/COMPRESSION/EXTENSION,OIL,DECLINING PRODUCTION,INVERSION/RIFT,1030,CRETACEOUS,SANDSTONE,260.0,33.0,24.0,182.0
...,...,...,...,...,...,...,...,...,...,...,...
437,EXTENSION/EROSION,OIL,DECLINING PRODUCTION,RIFT,5520,TRIASSIC-JURASSIC,SANDSTONE,630.0,394.0,26.0,1000.0
438,COMPRESSION/EROSION,BITUMEN,CONTINUING DEVELOPMENT,FORELAND,1500,CRETACEOUS,SANDSTONE,100.0,82.0,28.0,440.0
439,COMPRESSION/STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,OIL,NEARLY DEPLETED,WRENCH/FOREARC,11100,NEOGENE,THINLY-BEDDED SANDSTONE,200.0,150.0,20.0,75.0
440,INVERSION/COMPRESSION/EXTENSION,OIL,SECOND PLATEAU PRODUTION,RIFT/INVERSION,3939,PALEOGENE,SANDSTONE,410.0,20.0,28.0,1000.0
441,COMPRESSION/EVAPORITE,OIL,NEARLY DEPLETED,FORELAND,5381,CARBONIFEROUS,LIMESTONE,330.0,75.0,18.0,195.0

In [7]:
target

0      OFFSHORE
1      OFFSHORE
2       ONSHORE
3       ONSHORE
4       ONSHORE
         ...
304    OFFSHORE
305    OFFSHORE
306     ONSHORE
307    OFFSHORE
308     ONSHORE
Name: Onshore/Offshore, Length: 309, dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoder
le_Tectonicregime = LabelEncoder()
le_Hydrocarbontype = LabelEncoder()
le_Reservoirstatus = LabelEncoder()
le_Structuralsetting = LabelEncoder()
le_Period = LabelEncoder()
le_Lithology = LabelEncoder()

In [9]:
inputs['Tectonic regime_n'] = le_Tectonicregime.fit_transform(inputs['Tectonic regime'])
inputs['Hydrocarbon type_n'] = le_Hydrocarbontype.fit_transform(inputs['Hydrocarbon type'])
inputs['Reservoir status_n'] = le_Reservoirstatus.fit_transform(inputs['Reservoir status'])
inputs['Structural setting_n'] = le_Structuralsetting.fit_transform(inputs['Structural setting'])
inputs['Period_n'] = le_Period.fit_transform(inputs['Period'])
inputs['Lithology_n'] = le_Lithology.fit_transform(inputs['Lithology'])

In [10]:
inputs

,Tectonic regime,Hydrocarbon type,Reservoir status,Structural setting,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability,Tectonic regime_n,Hydrocarbon type_n,Reservoir status_n,Structural setting_n,Period_n,Lithology_n
0,STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,OIL,DEVELOPING,INVERSION/WRENCH,3520,NEOGENE,SANDSTONE,2460.0,220.0,20.0,45.0,54,5,4,20,15,11
1,GRAVITY/EXTENSION/EVAPORITE,OIL,MATURE PRODUCTION,SALT/PASSIVE MARGIN,9967,CRETACEOUS,LIMESTONE,427.0,160.0,19.0,175.0,35,5,5,30,7,9
2,GRAVITY/EXTENSION/EVAPORITE,OIL,MATURE PRODUCTION,PASSIVE MARGIN,8700,CRETACEOUS,LIMESTONE,95.0,15.0,12.0,20.0,35,5,5,21,7,9
3,COMPRESSION,OIL,DECLINING PRODUCTION,THRUST,5084,CRETACEOUS,SANDSTONE,328.0,300.0,13.0,600.0,0,5,2,39,7,11
4,INVERSION/COMPRESSION/EXTENSION,OIL,DECLINING PRODUCTION,INVERSION/RIFT,1030,CRETACEOUS,SANDSTONE,260.0,33.0,24.0,182.0,44,5,2,18,7,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,EXTENSION/EROSION,OIL,DECLINING PRODUCTION,RIFT,5520,TRIASSIC-JURASSIC,SANDSTONE,630.0,394.0,26.0,1000.0,23,5,2,23,27,11
438,COMPRESSION/EROSION,BITUMEN,CONTINUING DEVELOPMENT,FORELAND,1500,CRETACEOUS,SANDSTONE,100.0,82.0,28.0,440.0,1,0,1,7,7,11
439,COMPRESSION/STRIKE-SLIP/TRANSPRESSION/BASEMENT-I,OIL,NEARLY DEPLETED,WRENCH/FOREARC,11100,NEOGENE,THINLY-BEDDED SANDSTONE,200.0,150.0,20.0,75.0,18,5,6,47,15,15
440,INVERSION/COMPRESSION/EXTENSION,OIL,SECOND PLATEAU PRODUTION,RIFT/INVERSION,3939,PALEOGENE,SANDSTONE,410.0,20.0,28.0,1000.0,44,5,9,24,17,11
441,COMPRESSION/EVAPORITE,OIL,NEARLY DEPLETED,FORELAND,5381,CARBONIFEROUS,LIMESTONE,330.0,75.0,18.0,195.0,5,5,6,7,4,9

In [11]:
inputs_n = inputs.drop(['Tectonic regime','Hydrocarbon type','Reservoir status','Structural setting','Period','Lithology'],axis='columns')
inputs_n

,Depth,Gross,Netpay,Porosity,Permeability,Tectonic regime_n,Hydrocarbon type_n,Reservoir status_n,Structural setting_n,Period_n,Lithology_n
0,3520,2460.0,220.0,20.0,45.0,54,5,4,20,15,11
1,9967,427.0,160.0,19.0,175.0,35,5,5,30,7,9
2,8700,95.0,15.0,12.0,20.0,35,5,5,21,7,9
3,5084,328.0,300.0,13.0,600.0,0,5,2,39,7,11
4,1030,260.0,33.0,24.0,182.0,44,5,2,18,7,11
...,...,...,...,...,...,...,...,...,...,...,...
437,5520,630.0,394.0,26.0,1000.0,23,5,2,23,27,11
438,1500,100.0,82.0,28.0,440.0,1,0,1,7,7,11
439,11100,200.0,150.0,20.0,75.0,18,5,6,47,15,15
440,3939,410.0,20.0,28.0,1000.0,44,5,9,24,17,11
441,5381,330.0,75.0,18.0,195.0,5,5,6,7,4,9

In [12]:
inputs_split = np.split(inputs_n, [309], axis=0)
inputs_split[0]

,Depth,Gross,Netpay,Porosity,Permeability,Tectonic regime_n,Hydrocarbon type_n,Reservoir status_n,Structural setting_n,Period_n,Lithology_n
0,3520,2460.0,220.0,20.0,45.0,54,5,4,20,15,11
1,9967,427.0,160.0,19.0,175.0,35,5,5,30,7,9
2,8700,95.0,15.0,12.0,20.0,35,5,5,21,7,9
3,5084,328.0,300.0,13.0,600.0,0,5,2,39,7,11
4,1030,260.0,33.0,24.0,182.0,44,5,2,18,7,11
...,...,...,...,...,...,...,...,...,...,...,...
304,13265,1500.0,295.0,29.0,1500.0,38,5,2,5,15,10
305,1657,164.0,98.0,32.0,7500.0,44,5,2,25,7,10
306,10211,328.0,213.0,13.0,0.8,5,5,1,7,7,2
307,16360,980.0,490.0,16.0,10.0,46,3,7,31,12,11
308,11200,1378.0,446.0,14.0,340.0,21,3,2,23,7,11

In [13]:
inputs_split[1]

,Depth,Gross,Netpay,Porosity,Permeability,Tectonic regime_n,Hydrocarbon type_n,Reservoir status_n,Structural setting_n,Period_n,Lithology_n
309,2275,325.0,30.0,13.0,0.04,0,2,5,7,21,11
310,500,40.0,18.0,28.0,240.00,45,5,0,7,21,11
311,5548,200.0,20.0,13.0,7.30,46,2,2,18,12,6
312,10100,8200.0,260.0,18.0,100.00,6,5,4,39,15,11
313,8750,140.0,70.0,12.0,125.00,1,3,5,7,4,6
...,...,...,...,...,...,...,...,...,...,...,...
437,5520,630.0,394.0,26.0,1000.00,23,5,2,23,27,11
438,1500,100.0,82.0,28.0,440.00,1,0,1,7,7,11
439,11100,200.0,150.0,20.0,75.00,18,5,6,47,15,15
440,3939,410.0,20.0,28.0,1000.00,44,5,9,24,17,11
441,5381,330.0,75.0,18.0,195.00,5,5,6,7,4,9

In [14]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [15]:
model.fit(inputs_split[0], target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [16]:
model.score(inputs_split[0],target)

1.0

In [17]:
answer = model.predict(inputs_split[1])
answer

array(['ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'OFFSHORE',
       'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'OFFSHORE', 'OFFSHORE',
       'ONSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'OFFSHORE',
       'OFFSHORE', 'OFFSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE',
       'OFFSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE',
       'OFFSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'OFFSHORE',
       'ONSHORE', 'ONSHORE-OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'OFFSHORE',
       'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'OFFSHORE', 'ONSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE',
       'OFFSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'OFFSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE', 'OFFSHORE',
       'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE', 'ONSHORE',
       'ONSHORE', 'ONSHORE', 'ONSHORE', 'OFFSHORE', 'ONSHORE', 'ONSHORE',
       'OFFSHORE', 'ONSHORE', 'ONSHORE-OFFSHORE', 'ONSHORE', 'ONSHORE'],
      dtype=object)

In [18]:
answer.shape

(133,)

In [25]:
answer_df = pd.DataFrame(data=answer)
answer_df

                    0
0             ONSHORE
1             ONSHORE
2             ONSHORE
3             ONSHORE
4             ONSHORE
..                ...
128          OFFSHORE
129           ONSHORE
130  ONSHORE-OFFSHORE
131           ONSHORE
132           ONSHORE

[133 rows x 1 columns]

In [27]:
import csv
answer_df.to_csv('answer1.csv',header = None,index=None)